.App {
  background-color: #f0f4f7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Mui-selected {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.Mui-selected span {
  color: #000000 !important;
}

div {
  border-radius: 0px !important;
  box-shadow: none !important;
  border: 0 !important;
}

#vertical-tabpanel-1{
  padding: 15px;
  background: #f0f4f7;
}